---
import { Button } from '@/components/ui/button';
import Title from '@/components/title';
import GridImage from '@/assets/grid.webp';
import MainLayout from '@/layouts/main-layout.astro';
---

<MainLayout>
	<header class="z-50 relative h-[60dvh] flex justify-center items-center">
		<img
			src={GridImage.src}
			alt="Grid"
			class="z-0 absolute opacity-10 pointer-events-none h-[120%] min-w-2xl -top-10 left-1/2 -translate-x-1/2"
		/>

		<div class="z-50 flex flex-col gap-8 mb-[15vh]">
			<Title client:load />

			<a href="/chat" class="flex justify-center">
				<Button size="lg" variant="default" round> Open Project </Button>
			</a>
		</div>
	</header>
</MainLayout>
