---
import AppLayout from '@/layouts/app-layout.astro';
import { Projects as ProjectsApp } from '@/components/projects/projects';
import NavbarMini from '@/components/navbar-mini.astro';
---

<AppLayout>
	<NavbarMini />
	<ProjectsApp client:only />

	<img src="/logo2.svg" alt="RevivAI" class="w-full absolute top-16 px-16 opacity-15 not-dark:invert-100 z-0" draggable="false" />
	<p class="text-sm text-muted-foreground absolute bottom-3 mx-auto px-4 text-center">
		Made by <a href="https://github.com/kirlovon" target="_blank" class="text-foreground hover:underline">Kirills Reunovs</a>
		<span class="text-muted mx-2">/</span>
		<a href="https://jrcz.nl" target="_blank" class="hover:underline hover:text-foreground">JRCZ</a>
		<span class="text-muted mx-2">/</span>
		<a href="https://github.com/jrcz-data-science-lab/RevivAI" target="_blank" class="hover:underline hover:text-foreground">Repository</a>
		<span class="text-muted mx-2">/</span>
		<a
			href="https://github.com/jrcz-data-science-lab/RevivAI/blob/main/guide/GUIDE.md"
			target="_blank"
			class="hover:underline hover:text-foreground">Guide</a
		>
		<span class="text-muted mx-2">/</span>
		<span>{new Date().getFullYear()}</span>
	</p>
</AppLayout>
