---
import AppLayout from '@/layouts/app-layout.astro';
import { Projects as ProjectsApp } from '@/components/projects/projects';
import Title from '@/components/title';
import { ThemeToggle } from '@/components/theme-toggle';
---

<AppLayout>
	<div class="z-50 fixed top-4 left-0 px-4 flex w-full justify-end">
		<ThemeToggle client:only />
	</div>
	<ProjectsApp client:only />
</AppLayout>
