---
import AppLayout from '@/layouts/app-layout.astro';
import { ThemeToggle } from '@/components/theme-toggle';
import { Setup as SetupApp } from '@/components/setup/setup.tsx';

// Do not render on the server
export const prerender = false;
---

<AppLayout>
	<div class="z-50 fixed top-4 left-0 px-4 flex w-full justify-end">
		<ThemeToggle client:only />
	</div>
	<SetupApp client:only />
</AppLayout>
