---
import AppLayout from '@/layouts/app-layout.astro';
import { UploadCode } from '@/components/upload-code';
---

<AppLayout>
	<div class="max-w-prose w-full">
		<UploadCode client:load />
	</div>
</AppLayout>
