---
import AppContainer from '@/components/app';
import AppLayout from '@/layouts/app-layout.astro';
import { LoaderPinwheel } from 'lucide-react';

// Do not render on the server
export const prerender = false;

// Selected projectId from the URL
const projectId = Astro.params.projectId;

// Redirect to projects page if no projectId is provided
if (!projectId) {
	return Astro.redirect('/projects');
}
---

<div id="loading-spinner" class="z-50 transition-[opacity,scale] fixed top-1/2 left-1/2 translate-1/2 animate-spin">
	<LoaderPinwheel className="size-6" />
</div>

<AppLayout>
	<AppContainer client:only projectId={projectId} />
</AppLayout>
