---
import MainLayout from './main-layout.astro';
---

<script crossOrigin="anonymous" src="//unpkg.com/react-scan/dist/auto.global.js"></script>

<MainLayout>
	<div class="relative flex flex-col items-center justify-center mx-auto min-h-screen overflow-x-hidden">
		<slot />
	</div>
</MainLayout>

<script is:inline>
	function getThemePreference() {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	}

	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');

	// if (typeof localStorage !== 'undefined') {
	// 	const observer = new MutationObserver(() => {
	// 		const isDark = document.documentElement.classList.contains('dark');
	// 		localStorage.setItem('theme', isDark ? 'dark' : 'light');
	// 	});
	// 	observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	// }
</script>
