---
import BaseLayout from './base-layout.astro';
---

<BaseLayout>
	<div class="relative flex flex-col items-center justify-center mx-auto min-h-screen overflow-x-hidden">
		<slot />
	</div>
</BaseLayout>
