---
import MainLayout from './main-layout.astro';
---

<!-- React Scan in dev mode -->
<!-- <script crossOrigin="anonymous" src="//unpkg.com/react-scan/dist/auto.global.js"></script> -->
<MainLayout>
	<div class="relative flex flex-col items-center justify-center mx-auto min-h-screen overflow-x-hidden">
		<slot />
	</div>
</MainLayout>

<script is:inline>
	function getThemePreference() {
		if (localStorage) return localStorage.getItem('theme') ?? 'light';
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	}

	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
</script>
