---
import MainLayout from './main-layout.astro';
---

<script crossorigin="anonymous" src="//unpkg.com/react-scan/dist/auto.global.js"></script>
<MainLayout>
	<div class="relative flex flex-col items-center justify-center mx-auto min-h-screen overflow-x-hidden">
		<slot />
	</div>
</MainLayout>

<script is:inline>
	const isDark = localStorage.getItem('theme') === JSON.stringify('dark');
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
</script>
